body {
    height: 100%;
    overflow: hidden;
}

.scroll {
    height: auto !important;
    overflow: auto !important;
}

#top {
    width: 100vw;
    height: 50vh;
    background-color: 3A3E42;
    animation: topdiv 7s forwards;
    z-index: 1100;
    margin-bottom: 0 !important;
}

#enter {
    left: 50%;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    animation: button 3s forwards;
}

.bottom {
    width: 100vw;
    height: 50vh;
    background-color: 3A3E42;
    animation: bottomdiv 7s forwards;
    top: 50%;
    z-index: 998;
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
}

nav {
    position: fixed;
    top: 0;
    background-color: 454A4F;
    z-index: 0;
    /*opacity: 1;*/
}


/*.port-nav{
    z-index: 0;
}*/

#about-pic {
    width: 250px;
    height: 250px;
    background: red;
    position: absolute;
    -webkit-animation: mymove 7s forwards;
    /* Safari 4.0 - 8.0 */
    animation: mymove 7s forwards;
    border-radius: 100%;
    top: 25%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    position: fixed;
}

.contact-pics {
    /*display: flex;*/
    justify-content: space-around;
    align-items: center;
    z-index: -1;
}

#email-pic {
    width: 250px;
    height: 250px;
    border-radius: 75%;
    /*flex-direction: row;*/
    flex-direction: space-around;
    position: relative;
    top:140;
    left:50;
}

#linkedin-pic {
    width: 250px;
    height: 250px;
    border-radius: 75%;
    position: relative;
    top:140;
    left:150;
    /*flex-direction: row;*/
}

#twitter-pic {
    width: 250px;
    height: 250px;
    border-radius: 75%;
    position: relative;
    top:140;
    left:275;
    /*flex-direction: row;*/
}

.me-text {
    font-size: 165%;
    animation: text 2s forwards 6.6s;
    color: white;
    padding-bottom: 20px;
    z-index: -1;
}

.hiden-div {
    margin-top: 15vh;
    min-height: 75vh;
}

.page-footer {
    background-color: 454A4F;
    /*position: fixed;*/
    width: 100vw;
    height: -50vh;
    bottom: 0;
    z-index: 5;
}

.my-footer {
    position: fixed;
}

#my-name {
    padding-left: 15px;
}

#card-1 {
    width: 400px;
    right: 6vw;
    z-index: -1;
    /*margin-left: 15px;*/
    /*display: inline-block;*/
    /*margin-top: 80px;*/
}

#card-2 {
    width: 400px;
    left: 11vw;
    z-index: -1;
    /*float: right;*/
    /*margin-right: 15px;
    margin-top: 80px;*/
}

#card-3 {
    width: 400px;
    right: 6vw;
    /*margin-left: 15px;*/
    /*display: inline-block;
*/
    /*flex-direction: row:*/
}

#card-4 {
    width: 400px;
    left: 11vw;
    /*margin-right: 15px;*/
    /*justify-content: flex-end;*/
    /*position: relative;*/
    /*margin-top: 0;*/
    bottom: 0;
}

.bottom-pic {
    z-index: -1;
}

#card-top {
    margin-top: 70px;
    z-index: -1;
}

#card-bottom {
    margin-bottom: 250px;
}

#speed {
    animation-duration: 5s;
}

.about-wrapper {
    align-self: center;
}

#main-container {
    position: relative;
    top: 0;
}

h1 {
    font-size: 700%;
}


/*-----------------------------------------------------*/


/*keyframes*/

@keyframes mymove {
    100% {
        top: 7%;
        left: 50%;
        margin-top: -125px;
        margin-left: -125px;
        transform: scale(0.4);
    }
}

@keyframes topdiv {
    99% {
        opacity: 1;
        top: -50vh;
        margin-top: -50vh;
        margin-bottom: 50vh;
    }
    100% {
        opacity: 0;
        visibility: hidden;
        z-index: -2;
    }
}

@keyframes bottomdiv {
    99% {
        opacity: 1;
        top: 0%;
        margin-top: 100vh;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes button {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes text {
    from {
        color: white;
    }
    to {
        color: black;
    }
}
