#card-1{
	width: 400px;
	margin-left: 15px;
	display: inline-block;
}

#card-2{
	width: 400px;
	float:right;
	margin-right: 15px;

	
}

#card-3 {
	width:400px;
	margin-left:15px;
	display: inline-block;
}

#card-4 {
	width: 400px;
	float:right;
	margin-right: 15px;
	justify-content: flex-end;
}

#speed{
	animation-duration:5s;
}

.about-wrapper{
	align-self:center;
}

 #me-text {
 	font-size: 165%;
 }